{% extends "layout.html" %}
{% block body %}
    <body>
    <div id="main">
        <div class="w3-container w3-center" style="color:black; font-family: serif">
            <input type="button" id="simulateForecast" value="Simulate Forecast">
            <input type="button" id="viewRawForecastData" value="View Raw Forecast Data">
            <label for="baseModel">Choose a base model:</label>
            <select name="baseModel" id="baseModel">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C" selected="selected">C</option>
            </select>
            <label for="timeframeMultiplier">Choose a timeframe:</label>
            <select name="timeframeMultiplier" id="timeframeMultiplier">
                <option value="1" selected="selected">1 Year</option>
                <option value="5">5 Years</option>
                <option value="10">10 Years</option>
                <option value="20">20 Years</option>
                <option value="50">50 Years</option>
                <option value="100">100 Years</option>
                <option value="200">200 Years</option>

            </select>
            <br><br>
            <label for="timeframeIncrementMultiplier">Choose a timeframe increment:</label>
            <select name="timeframeIncrementMultiplier" id="timeframeIncrementMultiplier">
                <option value="0.0" selected="selected">Daily</option>
                <option value="0.0833">Monthly</option>
                <option value="0.25">Quarterly</option>
                <option value="0.5">Biannually</option>
                <option value="1.0">Annually</option>
            </select>
            <label for="displayType">Choose a display type:</label>
            <select name="displayType" id="displayType">
                <option value="0">Line and Fill</option>
                <option value="1" selected="selected">Line</option>
                <option value="2">Fill</option>
            </select>
        </div>
        <div id="forecastDisplay" class="w3-center">
            <div id="forecastObjArrayStaticVariables" style="font-family: serif" class="w3-bar w3-center"></div>
            <div id="forecastChartDivDisplay">
                <div id="forecastChartDivRows"></div>
            </div>
        </div>
    </div>
    </body>
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="/static/js/forecastProfile.js"></script>
{% endblock %}