{% extends "layout.html" %}
{% block body %}
    <body>
    <div id="main">
        <div class="w3-container w3-center" style="color:black; font-family: serif">
            <input type="button" id="simulate" value="simulate">
            <input type="button" id="viewRawData" value="raw data">
            <label for="baseModel">Choose a base model:</label>
            <select name="baseModel" id="baseModel">
                <option value="2">FourierGeneral</option>
                <option value="3">FourierSquare</option>
                <option value="4">FourierTriangle</option>
                <!--<option value="5">FourierTransformGeneral</option>!-->
                <option value="6">FourierTransformSquare</option>
                <!--<option value="7">FourierTransformTriangle</option>!-->
                <option value="8">FourierAnalysis</option>
            </select>
            <label for="limitBounds">Choose a limit bounds:</label>
            <select name="limitBounds" id="limitBounds">
                <option value=0>No</option>
                <option value=1 selected="selected">Yes</option>
            </select>
            <label for="displayType">Choose a display type:</label>
            <select name="displayType" id="displayType">
                <option value="0" selected="selected">Line and Fill</option>
                <option value="1">Line</option>
                <option value="2">Fill</option>
            </select>
        </div>
        <div id="display" class="w3-center">
            <div id="staticVariables" style="font-family: serif" class="w3-bar w3-center"></div>
            <div id="chartDivDisplay">
                <div id="chartDivRows"></div>
            </div>
        </div>
    </div>
    </body>
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
    <script src="/static/js/profile.js"></script>
{% endblock %}